<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bootlauncher">

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />

    <application
        android:label="BootLauncher"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:allowBackup="true">

        <activity android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
